<div class="booking-container">
  <div class="d-flex justify-content-between align-items-end">
    <h2>Thank You For Your Order!</h2>
    <%= link_to "Manage your bookings", user_path(@user), class: "button-primary" %>
  </div>
  <div class="booking-info">
    <div class="d-flex justify-content-around">
    <%= cl_image_tag @dress.photos.first.key, height: 300, width: 200, crop: :fill, class: "show-photo" %>
    </div>
    <div class="booking">
      <p>Booking Confirmation #: <%= @booking.id %></p>
      <p>Dress Name: <%= @dress.name %></p>
      <p>Order Total: <%= @dress.price %></p>
      <p>Start Date: <%= @booking.created_date.strftime("%A, %B %e, %Y") %></p>
      <p>End Date: <%= @booking.created_date.strftime("%A, %B %e, %Y") %></p>
    </div>
  </div>
</div>
