<div class="booking-container">
  <div class="d-flex justify-content-between align-items-end">
    <h2>Thank You For Your Order!</h2>
    <%= link_to "Manage your bookings", user_path(@user), class: "button-primary" %>
  </div>
  <div class="booking-info">
    <div class="d-flex justify-content-around">
      <% if @dress.photos.any? %>
        <%= cl_image_tag @dress.photos.first.key, height: 300, width: 200, crop: :fill, class: "show-photo" %>
      <% end %>
    </div>
    <div class="booking">
      <h3><%= @dress.name.upcase %></h3>
      <br>
      <p><strong>BOOKING CONFIRMATION #:</strong> <%= @booking.id %></p>
      <p><strong>ORDER TOTAL:</strong> <%= @dress.price %> <%= @dress.currency %></p>
      <p><strong>FROM:</strong> <%= @booking.created_date.strftime("%A, %B %e, %Y") %></p>
      <p><strong>TO:</strong> <%= @booking.created_date.strftime("%A, %B %e, %Y") %></p>
    </div>
  </div>
</div>
