<div id="profile">
  <h1>My dresses</h1>
    <div class= "cards">
      <div class="cards cards-grid">
        <% @dresses.each do |dress| %>
            <div class="dress-card">
              <%if dress.photos.any? %>
                <%= cl_image_tag dress.photos.first.key, height: 280, width: 250, crop: :fill %>
              <% end %>
              <div class="dress-card-info">
                <div class ="card-title">
                <h3><%= dress.name %></h3>
                <div>
                <%= link_to edit_dress_path(dress) do %>
                <i class="fas fa-edit"></i>
                <% end %>
                  <%= link_to "X", dress_path(dress), method: :delete, data: { confirm: 'Are you sure?' } %>
                  </div>
                </div>
                <p><%= dress.description %></p>
                <p><%= dress.price %></p>
                <p><%= dress.size %></p>
                <div class="card-bottom">
                <p><% dress.event_type %></p>
                  <% if @my_bookings.where('dress_id = ?', dress.id).present? %>
                    <p>Rented</p>
                  <% end %>
                </div>
              </div>
            </div>
        <% end %>
          </div>
      </div>
    </div>

   <h1>My Bookings</h1>
  <div class="cards cards-grid">
      <% @borrowed_dresses.each do |booking| %>
          <div class="dress-card">
            <% if booking.dress.photos.any? %>
              <%= cl_image_tag booking.dress.photos.first.key, height: 280, width: 250, crop: :fill %>
            <% end %>
          <div class="dress-card-info">
            <h3><%= link_to booking.dress.name.upcase, dress_path(booking.dress) %></h3>
            <p><%= booking.dress.description %></p>
            <p><%= booking.dress.price %><%= booking.dress.currency %></p>
            <p><%= booking.dress.currency %></p>
            <p><%= booking.dress.size %></p>
            <p>RETAIL: <%= booking.dress.retail_price %></p>
            <p><% booking.dress.event_type %></p>
          </div>
        </div>
      <% end %>
  </div>
</div>
