<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://wwd.com/wp-content/uploads/2018/09/bkstg-elie-saab-rtw-spring-2019-paris-fashion-week-pfw-044.jpg); margin-top: -15px; margin-bottom: 50px;">
  <div class="banner-header">
    <h1>DressBnB</h1>
    <br>
    <%= link_to 'Dress to impress', new_user_registration_path, class: "btn btn-flat" %>
  </div>
</div>


<div class= "category-cards d-flex justify-content-center mt-8 mb-8">
  <div class= "bridal-card">
    <h2>Bridal Celebration</h2>
    <p></p>
  </div>
   <div class= "wedding-card">
    <h2>Wedding Celebration</h2>
    <p></p>
  </div>
     <div class= "cocktail-card">
    <h2>Cocktail Party</h2>
    <p></p>
  </div>
</div>



<!-- <div class= "cards">
  <div class= "row m-0 align-items-center">
    <% @dresses.each do |dress| %>
      <div class="col-3">
        <div class="dress-card">
          <%if dress.photos.any? %>
            <%= cl_image_tag dress.photos.first.key, height: 280, width: 250, crop: :fill %>
          <% end %>
            <div class="dress-card-info">
              <h3><%= dress.name %></h3>
              <p><%= dress.description %></p>
              <p><%= dress.price %></p>
              <p><%= dress.currency %></p>
              <p><%= dress.size %></p>
              <p>RETAIL:<% dress.retail_price %></p>
              <p><% dress.event_type %></p>
            </div>
        </div>
      </div>
    <% end %>
  </div>
</div> -->
