<p id="notice"><%= notice %></p>
<!-- <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://wwd.com/wp-content/uploads/2018/09/bkstg-elie-saab-rtw-spring-2019-paris-fashion-week-pfw-044.jpg); margin-top: -15px; margin-bottom: 50px;">

  <div class="banner-header">
    <h2>Dresses for every occasion</h2>
  </div>
</div> -->

<%= form_tag dresses_path, method: :get do %>
  <%= text_field_tag :query,
      params[:query],
      class: "search-form",
      placeholder: "Find a dress..."
      %>
  <%= submit_tag "Search", class: "button-primary" %>
<% end %>

<div class="cards cards-grid">
    <% @dresses.each do |dress| %>
      <%= link_to dress_path(dress) do  %>
        <div class="dress-card">
          <% if dress.photos.any? %>
            <%= cl_image_tag dress.photos.first.key, height: 280, width: 280, crop: :fill %>
          <% end %>
          <div class="dress-card-info">
            <h3><%= dress.name.upcase %></h3>
            <p><%= dress.description %></p>
            <p><%= dress.price %></p>
            <p><%= dress.currency %></p>
            <p><%= dress.size %></p>
            <p><%= dress.retail_price %></p>
            <p><% dress.event_type %></p>
          </div>
        </div>
      <% end %>
    <% end %>
</div>

