<p id="notice"><%= notice %></p>

<h2 style="text-align: center">Dresses for every occasion</h2>

<div class="cards">
  <div class="row align-items-center">
    <% @dresses.each do |dress| %>
      <div class="col-3">
        <div>
          <% if dress.photos.any? %>
            <%= cl_image_tag dress.photos.first.key, height: 280, width: 250, crop: :fill %>
        <% end %>
        <h3><%= dress.name.upcase %></h3>
        <p><%= dress.description %></p>
        <p><%= dress.price %></p>
        <p><%= dress.size %></p>
        <p><% dress.event_type %></p>
        <%= link_to "Remove Dress", dress_path(dress), method: :delete, data: {confirm: "Are you sure you want to delete this dress?"}, class: "btn btn-flat" %>
        <%= link_to "Edit Dress", edit_dress_path(dress), class: "btn btn-flat" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
