<p id="notice"><%= notice %></p>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://wwd.com/wp-content/uploads/2018/09/bkstg-elie-saab-rtw-spring-2019-paris-fashion-week-pfw-044.jpg); margin-top: -15px; margin-bottom: 50px;">
  <div class="banner-header">
    <h2>Dresses for every occasion</h2>
  </div>
</div>

<div class="cards cards-grid">
    <% @dresses.each do |dress| %>
        <div class="dress-card">
          <% if dress.photos.any? %>
            <%= cl_image_tag dress.photos.first.key, height: 280, width: 280, crop: :fill %>
        <% end %>
        <div class="dress-card-info">
          <h3><%= dress.name.upcase %></h3>
          <p><%= dress.description %></p>
          <p><%= dress.price %></p>
          <p><%= dress.currency %></p>
          <p><%= dress.size %></p>
          <p><%= dress.retail_price %></p>
          <p><% dress.event_type %></p>
          <%= link_to "Remove Dress", dress_path(dress), method: :delete, data: {confirm: "Are you sure you want to delete this dress?"}, class: "btn btn-flat" %>
          <%= link_to "Edit Dress", edit_dress_path(dress), class: "btn btn-flat" %>
        </div>
      </div>
    <% end %>
</div>


