<div class="container">
  <div class="row">
    <%if @dress.photos.any? %>
      <div class="col left" style="background-image: url('<%= cl_image_path @dress.photos.first.key %>')" >
    <%else %>
      <div class="col left" style="background-image: url('https://images.unsplash.com/photo-1524048269000-9949b9a70cb0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80')" >
    <% end %>
    </div>
    <div class="col right text-center" >
      <div class="titlesize">
        <h1><%= @dress.name %></h1>
        <p><%= @dress.size %></p>
        <p><%= @dress.event_type %></p>
      </div>
      <div class="paragraph">
        <p><%= @dress.description %></p>
      </div>
      <div class="dressprice">
        <p><%= @dress.price%> <%= @dress.currency%></p>
        <p>RETAIL:<% @dress.retail_price %></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div id="dress-booking-form" class="col left text-center" >
      <div class="form">
        <%= simple_form_for([@dress, @booking]) do |f| %>
          <%= f.input :created_date %>
          <%= f.input :end_date %>
          <%= f.button :submit, class: "btn btn-primary" %>
        <% end %>
      </div>
      <%= link_to 'Back to dresses', dresses_path(@dress) %>
    </div>
  </div>
</div>


