<h2><%= @dress.name %></h2>

<% @dress.photos.each do |photo| %>
  <%if @dress.photos.any? %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
<% end %>

<p><%= @dress.description %></p>
<p><%= @dress.price %></p>
<p><%= @dress.size %></p>
<p><%= @dress.event_type %></p>

<%= simple_form_for([@dress, @booking]) do |f| %>
  <%= f.input :created_date %>
  <%= f.input :end_date %>
  <%= f.button :submit %>
<% end %>



<%= link_to 'Back to dresses', dresses_path(@dress) %>
