<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%if @dress.photos.any? %>
        <%= cl_image_tag @dress.photos.first.key, class: "default-dress" %>
      <%else %>
        <%= image_tag "default_dress.jpg", class: "default-dress" %>
      <% end %>
    </div>
    <div class="col-md-6 align-text" >
      <div class="card-grid">
        <div class ="dress-info">
          <div class ="title">
            <h1><%= @dress.name.upcase %></h1>
          </div>
          <div class="event">
            <h2>Event - <%= @dress.event_type %></p></h2>
          </div>
          <div class ="paragraph">
            <p><%= @dress.description %></p>
            <p>Size : <%= @dress.size %></p>
          </div>
          <div class ="dressprice">
            <p>Price: <%= @dress.price%> <%= @dress.currency%> &nbsp;&nbsp;&nbsp;(Retail: <%= @dress.retail_price%> <%= @dress.currency%>)</p>
          </div>
          <div id= dress-booking-form class="col mt-5 p-0 text-center" >
              <% if @dress.user == current_user %>
            <div class = "links">
              <%= link_to "Edit Dress", edit_dress_path(@dress), class: "btn btn-flat" %>
              <%= link_to "Remove Dress", dress_path(@dress), method: :delete, data: {confirm: "Are you sure you want to delete this dress?"}, class: "btn btn-flat" %>
            </div>
              <%else %>
            <div class ="form">
              <%= simple_form_for([@dress, @booking]) do |f| %>
                <%= f.input :created_date, as: :date, html5: true, label: "FROM" %>
                <%= f.input :end_date, as: :date, html5: true, label: "TO" %>
                <%= f.button :submit, class: "button-primary" %>
              <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



