<!DOCTYPE html>
<html>
  <head>
    <title>Dressbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="page-container">
      <%= render "shared/navbar" %>
      <% unless action_name == 'home' %>
        <div style="height: 80px;"></div>
      <% end %>
    <!-- <p class="notice"> <#%= notice %></p>
    <p class="alert"><#%= alert %></p> -->
    <div class="content-container">
      <%= yield %>
    </div>
     <%= render "shared/footer" %>
    </div>
  </body>
</html>
